<!DOCTYPE html>
<html>
 <head>
   <title>Test</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <style>
     td,th {
       padding: 10px;
       text-align: center;
     }
   </style>
 </head>
 <body>
     <center>
    <table border=1; style="font-size: 18px; border-collapse: collapse">
        <tr>
            <td>ID</td>
            <td>제목</td>
            <td>내용</td>
            <td>작성자</td>
            </tr>
        <% for (const result of results) { %>
        <tr>
            <th>
            <%= result.number %>
            </th>
            <td>
                <%= result.title %>
            </td>
            <td>
                <%= result.content %>
            </td>
            <td>
                <%= result.id %>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/board/create"><p>게시물 등록</p></a>
    <a href="/board/delete"><p>게시물 삭제</p></a>
    </center>




 </body>
</html>