<html>
    <head>
      <title>로그인 실패</title>
    </head>
        <body>
            <center>
            <h1> 로그인이 실패하였습니다. </h1>
            <form action="/lgf" method="post">
            <a href="/"><input type="button" value="로그인"></a>
            </form>
            </center>
        </body>
        </html>