<html>
<head>
    <meta charset="utf-8">
    <title>LOGIN</title>
<style>
    p#main-title {
                    margin: auto;
                    font-size: 45pt;
                    text-align: center;
                }
            body{
                    background-color: #000000;
                }
            div {
                    overflow:hidden;
                    margin-bottom:10px; 
                    padding-bottom:8px; 
                    border-bottom:1px solid #c2c2c1; 
                    height:25px;
                }
    .login_box  { 
                    width:337px; 
                    height:400px; 
                    background-color: #ffffff; 
                    margin: 0 auto; 
                    padding:45px 44px 38px 44px; 
                    opacity: 0.8;
                    border-radius: 10px;
                }
.login_box .input_login { 
                    border-bottom: 2px solid #c4c5c4; 
                    padding: 20px 0 9px 0;
                }
.login_box .input_login input
                { 
                    width: 100%; 
                    color: #828180; 
                    font-size: 15px;  
                    border:none;
                }
button.bt-login
                {
                    border: solid #423e3e;
                    font-size: 16px;
                    color: #ffffff;
                    background-color: #423e3e;
                    width: 337px;
                    height: 50px;
                } 
</style>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>

function click_check(){

// 메일 정규식
var Mail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);

// 비밀번호 정규식
var pw1 = /^[a-zA-Z0-9]{4,12}$/;

var id = $('#id').val();
var pw = $('#pw').val();

    //이메일 공백 확인
    if(id == ""){
        alert("이메일을 입력해 주세요");
        $('#id').focus();
        return false;
      }
           
    //이메일 유효성 검사
    if(!Mail.test(id)){
        alert("이메일 형식에 맞게 입력해 주세요")
        $('#id').focus();
        return false;
      }
  
    //비밀번호 공백 확인
    if(pw == ""){
        alert("비밀번호를 입력해 주세요");
        $('#pw').focus();
        return false;
      }
           
    //비밀번호 유효성 검사
    if(!pw1.test(pw)){
        alert("4 자 이상, 12 자 미만으로 입력해 주세요")
        $('#pw').focus();
        return false;
      }
    }
    </script>
</head>     
<body>   
        <form action="/" method="post">
     <div class="login_box">
          <p id="main-title">LOGIN</p>
          <div class="input_login">
          <input type="text" name="id" id="id" placeholder="이메일을 입력하세요">
          </div>
          <div class="input_login">
          <input type="password" name="pw" id="pw" placeholder="비밀번호를 입력하세요">
          </div>
          <button class="bt-login" onclick="click_check();">로그인</button>
          
     <table align="center" height="50">
          <tr>
               <td><a style="text-decoration:none;" href="sigu">회원가입 | </a></td>
               <td><a style="text-decoration:none;" href="#">아이디 찾기 | </a></td>
               <td><a style="text-decoration:none;" href="#">비밀번호 찾기</a></td>
          </tr>
     </table>
     </div>
        </form>
        <a href="auth/kakao"><input type="button" value="카카오 로그인"></a>
</body>
</html>