<html>
    <head>
      <title>로그아웃</title>
    </head>
        <body>
            <center>
            <h1> 로그아웃 되었습니다. </h1>
            <form action="/lgo" method="post">
            <a href="/"><input type="button" value="로그인"></a>
            </form>
            </center>
        </body>
        </html>