<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판
    </title>
</head>
<body>
    <center>
<form action="/board/create2" method="POST">
 <table border="1">
    <tr>
        <td>
            <p>제목</p>
        </td>
        <td>
            <input type="text" name="title" placeholder="제목을 입력하세요" style="border:none;">
        </td>
    </tr>
    <tr>
        <td>
            <p>내용</p>
        </td>
        <td>
            <textarea name="description" cols="30" rows="10" placeholder="내용을 입력하세요" style="border:none;"></textarea>
        </td>
    </tr>
 </table>
 <input type="submit" value="확인">
 <a href="/board/board"><input type="button" value="뒤로가기"></a>
</form>
    </center>
    
</body>
</html>