<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Update</title>
</head>
<body>
   <center>
       <form action="/board/update" method="POST">
        <input type="text" name="reqnumber" value="<%= result[0].number %>"/>
           <table border="1" style="border-collapse: collapse">
                <tr>
                    <td>
                       <p>수정 제목</p>
                    </td>
                    <td>
                        <input type="hidden" name="title" placeholder="수정할 제목을 입력하세요" style="border:none;">
                    </td>
               </tr>
               <tr>   
                    <td>
                        <p>수정 내용</p>
                    </td>
                    <td>
                        <textarea name="content" cols="30" rows="10" placeholder="수정할 내용을 입력하세요" style="border:none;"></textarea>
                    </td>
               </tr>
           </table>
           <br>
           <input type="submit">
       </form>
   </center>
</body>
</html>